body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #86cecb;
  color: #373b3e;
  text-align: center;
  min-height: 100vh;
}

.app {
  padding-top: 10vh;
  padding-bottom: 10vh;
  min-height: 100%;
}

.error-paragraph {
  color: #e12885;
}

button {
  margin: 5px;
}

.top-100 {
  margin-top: 10vh;
  left: 50vw;
}

ul {
  list-style-type: none;
}

li{
  margin: 10px 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
